.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}

table thead, tbody, tr, td, th {
    padding: 15px;
}

table thead {
    background-color: lightblue;
}