<h1>Reserva de entradas de cine</h1>

<h2>Películas disponibles</h2>
<ul>
  <li *ngFor="let p of peliculas">
    {{ p.titulo }} ({{ p.horario }}) - Precio: {{ p.precio }}€
    | Disponibles: {{ p.butacasTotales - p.butacasOcupadas }}
  </li>
</ul>

<!-- Formulario -->
<h2>Hacer una reserva</h2>
<form (ngSubmit)="reservar()">
  <label>Nombre:</label>
  <input [(ngModel)]="nombre" name="nombre" required />

  <label>Película:</label>
  <select [(ngModel)]="peliculaId" name="peliculaId" required>
    <option *ngFor="let p of peliculas" [ngValue]="p.id">
      {{ p.titulo }} ({{ p.horario }})
    </option>
  </select>


  <div *ngIf="peliculaId">
    Butacas disponibles: {{ disponibles }}
  </div>

  <label>Cantidad:</label>
  <input type="number" [(ngModel)]="cantidad" name="cantidad" min="1" required />

  <button type="submit">Reservar</button>
</form>

<div *ngIf="mensaje" style="color:red;">
  {{ mensaje }}
</div>

<h2>Reservas realizadas</h2>
<table border="1">
  <tr>
    <th>Cliente</th>
    <th>Película</th>
    <th>Cantidad</th>
    <th>Precio Total (€)</th>
  </tr>
  <tr *ngFor="let r of reservas">
    <td>{{ r.nombre }}</td>
    <td>{{ r.pelicula }}</td>
    <td>{{ r.cantidad }}</td>
    <td>{{ r.precioTotal }}</td>
  </tr>
</table>