<div class="container">
    <h2>Registrar alumno</h2>
    <form [formGroup]="formulario" (ngSubmit)="enviar()">
        <label>Nombre:</label>
        <input type="text" formControlName="nombre">

        <div *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched">
            <p class="danger" *ngIf="formulario.get('nombre')?.errors?.['required']">El nombre es obligatorio</p>
            <p class="danger" *ngIf="formulario.get('nombre')?.errors?.['minlength']">El nombre debe tener 3 caracteres como minimo</p>
        </div>

        <label>Email:</label>
        <input type="email" formControlName="email">

        <div *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched">
            <p class="danger" *ngIf="formulario.get('email')?.errors?.['required']">El email es obligatorio</p>
            <p class="danger" *ngIf="formulario.get('email')?.errors?.['email']">El formato del email debe ser correcto</p>
        </div>

        <label>Edad:</label>
        <input type="number" formControlName="edad">

        <div *ngIf="formulario.get('edad')?.invalid && formulario.get('edad')?.touched">
            <p class="danger" *ngIf="formulario.get('edad')?.errors?.['required']">La edad es obligatoria</p>
            <p class="danger" *ngIf="formulario.get('edad')?.errors?.['min']">La edad no puede ser inferior a 16 años</p>
            <p class="danger" *ngIf="formulario.get('edad')?.errors?.['max']">La edad no puede ser superior a 100 años</p>
        </div>

        <label>Curso:</label>
        <select formControlName="curso">
            <option value="" selected disabled>--Selecciona un curso--</option>
            <option value="1ºESO">1ºESO</option>
            <option value="2ºESO">2ºESO</option>
            <option value="3ºESO">3ºESO</option>
            <option value="4ºESO">4ºESO</option>
        </select>

        <div *ngIf="formulario.get('curso')?.invalid && formulario.get('curso')?.touched">
            <p class="danger" *ngIf="formulario.get('curso')?.errors?.['required']">El curso es obligatorio</p>
        </div>

        <label>Becado:</label>
        <label><input type="radio" formControlName="becado" value="no">Si</label>
        <label><input type="radio" formControlName="becado" value="si">No</label>

        <label>Direccion</label>
        <div formGroupName="direccion">
            <label>Calle:</label>
            <input type="text" formControlName="calle">

            <div *ngIf="formulario.get('calle')?.invalid && formulario.get('calle')?.touched">
                <p class="danger" *ngIf="formulario.get('calle')?.errors?.['min']">La calle debe tener minimo 3 caracteres</p>
            </div>

            <label>Ciudad:</label>
            <input type="text" formControlName="ciudad">
        </div>

        <button type="submit" class="btn" [disabled]="formulario.invalid">Registrar alumno</button>
    </form>
</div>