body {
    font-family: 'Calibri';
    background-color: rgb(240, 240, 240);

    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: rgb(243, 227, 252);
    width: 250px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

form input {
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    height: 25px;
}

form button {
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    height: 25px;
}