/* ====== ESTILOS GENERALES ====== */
body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* ====== NAVBAR ====== */
.navbar {
    background: #222;
    color: white;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 25px;

    ;
    position: fixed;
    /* Fija la barra */
    top: 0;
    /* Pegada arriba */
    left: 0;
    width: 100%;
    /* Ocupa todo el ancho */
    z-index: 1000;
}

.navbar img {
    height: 40px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

/* ====== FOOTER ====== */
.footer {
    background: #222;
    color: white;
    padding: 2px 4px;
    text-align: center;

    position: fixed;
    /* Fijo en pantalla */
    bottom: 0;
    /* Pegado abajo */
    left: 0;
    width: 100%;
    /* Ocupa todo el ancho */
    z-index: 1000;
    /* Por encima del contenido */
}

.footer img {
    height: 40px;
}

.footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
    margin-top: 70px;
    /* espacio para la navbar fija */
    margin-bottom: 60px;
    /* espacio para el footer fijo */
}

/* ====== TARJETAS DE CHOLLOS ====== */
.chollo-card {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 15px;
    align-items: center;
}

.chollo-card img {
    width: 100px;
    border-radius: 6px;
}

/* ====== BOTONES ====== */
.btn {
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 5px;
}

.btn-ver {
    background: #3490dc;
}

.btn-editar {
    background: #38c172;
}

.btn-borrar {
    background: #e3342f;
    border: none;
    cursor: pointer;
}

.btn-crear {
    background: #9561e2;
}

/* ====== FORMULARIOS ====== */
input,
textarea,
select {
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
}

/*====== PAGINACION ======*/
.pagination {
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

.pagination a,
.pagination span {
    padding: 6px 10px;
    background: #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
}

.pagination .active span {
    background: #3490dc;
    color: white;
}